<h1>All available items</h1>
<%if(contributions.length === 0) { %>
  <p><i>There are currently no available items</i></p>
<% } %>
<%var color = 'info'%>
<table class="table table-hover">
  <thead>
	<tr>
		<th>Item</th>
    <th>Action</th>
		<th>Description</th>
		<th>Preferred collection address</th>
    <th>More details</th>
	</tr>
</thead>
  <tbody>
    <% contributions.forEach(function(contribution) { %>
      <%if(contribution.action === 'exchange'){%>
        <%color = 'warning'%>
      <%} else if(contribution.action === 'borrow') {%>
        <%color = 'danger'%>
        <% } else {%>
        <%color = 'info'%>
        <% } %>
      <tr class='<%=color%>'>
      <td><%=contribution.item%></td>
      <td><%=contribution.action%></td>
      <td><%=contribution.description%></td>
      <td><%=contribution.address%></td>
      <td><a href="/contributions/<%=contribution.id%>">View details</a></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<a href='/user' class="btn btn-primary">View My Contributions</a>
