<h2><%=contribution.item%> details:</h2>
<pre><%=contribution %></pre>

<h3>Description: <%=contribution.description%></h3>
<h3>Action: <%=contribution.action%></h3>
<h3>Status: <%=contribution.status%></h3>
<h3>Preferred Collection Address: <%=contribution.address%></h3>
<h3>Contributor: <%=contribution.contributorEmail%></h3>
