<div class="container">
<h3>Contribution details:</h3>

<img src="<%=contribution.image%>" alt="<%=contribution.item%>" style="width:250px;height:150px;">
<h4>Item: <%=contribution.item%></h4>
<h4>Action: <%=contribution.action%></h4>
<h4>Description: <%=contribution.description%></h4>
<h4>Status: <%=contribution.status%></h4>
<h4>Preferred Collection Address: <%=contribution.address%></h4>
<h4>Contributor: <%=contribution.contributorEmail%></h4>
<h4>Comments:</h4>
<div class="container">
    <ul class="list-group">
      <%if(contribution.comments.length === 0){ %>
        <p><i>There are no comments.</i></p>
      <% } else {%>
      <% contribution.comments.forEach(function(output) {%>
        <p><%=output.commentor + ' commented: ' + output.comment%><p>
      <% }) %>
      <% } %>
    </ul>
</div>

<div class="col-md-6">
<form method="post" action=<%= "/contributions/" + contribution.id%>>
  <div class="form-group">
    <label for="comment">comment:</label>
    <input type="text" class="form-control" name="comment" id="comment" placeholder="comment">
  </div>
  <div class="form-group">
    <label for="commentor">commented by:</label>
    <input type="text" class="form-control" name="commentor" id="commentor" value="<%=user.local.email%>" readonly="true">
  </div>
  <div class="form-group">
    <label for="commentor">contribution Id:</label>
    <input type="text" class="form-control" name="contributionId" id="contributionId" value="<%=contribution.id%>" readonly="true">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success btn-block">Add Comment</button>
  </div>
</form>
</div>
</div>
