<h1>Hi, welcome <%=user.local.email%> </h1>
<pre><%=contributions%></pre>

<div class="row">
  <h2>My Contributions</h2>
  <% contributions.forEach(function(contribution) { %>
    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= contribution.item %>
          </h3>
        </div>
        <div class="panel-body">
          Description: <%=contribution.description%><br>
          Action: <%=contribution.action%><br>
          Status: <%=contribution.status%><br>
          Preferred address: <%=contribution.address%><br>
          <br>
          <a
            class="btn btn-warning"
            href=<%= "/contributions/" + contribution.id + "/edit" %>>
            Edit
          </a>
          <form
            method="POST"
            action="/contributions/<%= contribution.id%>?_method=DELETE"
          >
            <button class="btn btn-danger" type="submit">
              Delete
            </button>
          </form>
        </div>
      </div>
    </div>
  <% }) %>

<div class="col-md-12">
<a href='/contributions' class="btn btn-primary">View available items</a>

<h2>Add new contribution:</h2>
<form method="post" action="/contributions">
  <div class="form-group">
    <label for="action">I would like to:</label>
    <select name="action">
      <option value="giveaway">giveaway</option>
      <option value="borrow">borrow</option>
      <option value="exchange">exchange</option>
    </select>
  </div>
  <div class="row">
    <div class="form-group">
      <label for="item">Item:</label>
      <input type="text" class="form-control" name="item" id="item" placeholder="item">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" class="form-control" name="description" id="description" placeholder="Provide details on what you would like to giveaway, borrow or exchange.">
    </div>
    <div class="form-group">
      <label for="contributor">Preferred collection address:</label>
      <input type="text" class="form-control" name="address" id="address" placeholder="eg. Orchard MRT">
    </div>
    <div class="form-group">
      <label for="contributor">Contributor ID:</label>
      <input type="text" class="form-control" name="contributor" id="contributor" value="<%=user.id%>" readonly="true">
    </div>
    <div class="form-group">
      <label for="contributor">Contributor email:</label>
      <input type="text" class="form-control" name="contributorEmail" id="contributorEmail" value="<%=user.local.email%>" readonly="true">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success btn-block">Add</button>
    </div>
  </div>
</form>
</div>
